<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Willkommen zu unserer Umfrage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form (ngSubmit)="submitAnswers()" [formGroup]="questionForm">
    <ion-list lines="none" class="questionnaire-content">
      <ion-label class="intro-text">
        <p>Um die Benutzererfahrung zu verbessern, bitten wir Sie, einige Fragen zu Ihren Präferenzen zu beantworten.</p>
      </ion-label>

      <ion-label class="question-text">Kosten:</ion-label>
      <ion-checkbox-group formControlName="costs">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label>Nur Kostenlos?</ion-label>
              <ion-checkbox value="free" (ionChange)="onCheckboxChange($event, 'costs')"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-checkbox-group>

      <ion-label class="question-text">Sind Sie Rollstuhlfahrer?</ion-label>
      <ion-checkbox-group formControlName="accessibilityPreferences">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Ja</ion-label>
              <ion-checkbox value="location.accessibility.WheelchairAccessible" (ionChange)="onCheckboxChange($event, 'accessibilityPreferences')"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-checkbox-group>

      <ion-label class="question-text">Welche Art von Veranstaltungen bevorzugen Sie?</ion-label>
      <ion-checkbox-group formControlName="eventCategories">
        <ion-row *ngFor="let row of categories; index as i">
          <ion-col size="6" *ngIf="categories[i + 1]">
            <ion-item>
              <ion-label>{{ categories[i + 1].title }}</ion-label>
              <ion-checkbox [value]="categories[i + 1].identifier" (ionChange)="onCheckboxChange($event, 'eventCategories')"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-checkbox-group>


    </ion-list>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" color="secondary">Präferenzen speichern</ion-button>
    </div>
  </form>
</ion-content>
