<ion-content [fullscreen]="true">
    <ion-list>
    <!-- Loop durch jedes Event -->
    <ion-card *ngFor="let event of events?.events">
      <!-- Titel des Events -->
      <ion-card-header>
        <ion-card-title class="mouse-pointer">
          {{ event.attractions[0].referenceLabel.de }}
        </ion-card-title>
        
      </ion-card-header>
      
      <ion-card-content>
        <!-- Zeitplan -->
        <div>
          <strong>Datum:</strong> {{ formatDate(event.schedule.startDate) }}
          <ng-container *ngIf="event.schedule.startDate !== event.schedule.endDate">
            - {{ formatDate(event.schedule.endDate) }}
          </ng-container>          </div>
        <div>
          <strong>Zeit:</strong> 
          <ng-container *ngIf="event.schedule.startTime === '00:00:00' && event.schedule.endTime === '00:00:00'">
            Ganztägig
          </ng-container>
          <ng-container *ngIf="event.schedule.startTime !== '00:00:00' || event.schedule.endTime !== '00:00:00'">
            {{ formatTime(event.schedule.startTime) }} - {{ formatTime(event.schedule.endTime) }}
          </ng-container>
        </div>
        
        <!-- Ort -->
        <div class="mouse-pointer">
          <strong>Ort:</strong> {{ event.locations[0].referenceLabel.de }}
        </div>

        <!-- Eintrittspreis (falls vorhanden) -->
        <div *ngIf="event.admission && event.admission.ticketType === 'ticketType.freeOfCharge'">
            <strong>Eintritt:</strong> Kostenlos
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>