  <ion-content id="main-content">
    <app-search-bar (searchTerm)="onSearchStart($event)"></app-search-bar>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" class="badge-container">
          <ion-badge style="cursor: pointer;" (click)="openFilterMenuModal()">
            <ion-icon class="icon-margin-right" name="options"></ion-icon>
            Filter
          </ion-badge>
          <ng-container *ngIf="filters.boroughs.length > 0">
            <ion-badge *ngFor="let borough of filters.boroughs" color="secondary">
              {{ borough }}
              <ion-icon class="icon-margin-left" name="close-circle" (click)="removeBorough(borough)"></ion-icon>
            </ion-badge>
          </ng-container>
          <ng-container *ngIf="selectedCategoryNames.length > 0">
            <ion-badge *ngFor="let category of selectedCategoryNames" color="secondary">
              {{ category }}
              <ion-icon class="icon-margin-left" name="close-circle" (click)="removeCategory(category)"></ion-icon>
            </ion-badge>
          </ng-container>
          <ng-container *ngIf="filters.dates.length > 0">
            <ion-badge color="secondary">
              Datum
              <ion-icon class="icon-margin-left" name="close-circle" (click)="removeDate()"></ion-icon>
            </ion-badge>
          </ng-container>
          <ng-container *ngIf="filters.times.length > 0">
            <ion-badge *ngFor="let time of filters.times" color="secondary">
              {{ time }}
              <ion-icon class="icon-margin-left" name="close-circle" (click)="removeTime(time)"></ion-icon>
            </ion-badge>
          </ng-container>
          <ng-container *ngIf="selectedAccessibilityNames.length > 0">
            <ion-badge color="secondary">
              Barrierefrei
              <ion-icon class="icon-margin-left" name="close-circle" (click)="removeAccessibility()"></ion-icon>
            </ion-badge>
          </ng-container>
          <ng-container *ngIf="filters.isFreeOfChargeSelected">
            <ion-badge color="secondary">
              Kostenlos
              <ion-icon class="icon-margin-left" name="close-circle" (click)="removeFreeOfCharge()"></ion-icon>
            </ion-badge>
          </ng-container>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
      <ion-list *ngIf="!isLoading">
      <ng-container *ngFor="let event of events?.events">
      <ion-card *ngFor="let attraction of event.attractions" (click)="showAttractionDetails(attraction.referenceId, event.locations[0].referenceId, event.schedule.startDate, event.schedule.endDate, event.schedule.startTime, event.schedule.endTime, event.admission?.ticketType)">
        <ion-card-header>
          <ion-card-title class="mouse-pointer" color="secondary">
            {{ attraction.referenceLabel.de }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <strong>Datum:</strong> {{ formatDate(event.schedule.startDate) }}
            <ng-container *ngIf="event.schedule.startDate !== event.schedule.endDate">
              - {{ formatDate(event.schedule.endDate) }}
            </ng-container>          </div>
          <div>
            <strong color="secondary">Zeit:</strong> 
            <ng-container *ngIf="event.schedule.startTime === '00:00:00' && event.schedule.endTime === '00:00:00'">
              Ganztägig
            </ng-container>
            <ng-container *ngIf="event.schedule.startTime !== '00:00:00' || event.schedule.endTime !== '00:00:00'">
              {{ formatTime(event.schedule.startTime) }} - {{ formatTime(event.schedule.endTime) }}
            </ng-container>
          </div>
          <div class="mouse-pointer">
            <strong>Ort:</strong>
            <span *ngFor="let location of event.locations; let isLast=last">
              {{ location.referenceLabel.de }}{{isLast ? '' : ', '}}
            </span>
          </div>
          <div *ngIf="event.admission && event.admission.ticketType === 'ticketType.freeOfCharge'">
              <strong>Eintritt:</strong> Kostenlos
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    </ion-list>
    <ion-infinite-scroll *ngIf="allEventsListed === false && isFilteredFlag === false" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ng-container *ngIf="events?.events.length === 0 && !isLoading">
      <p style="margin-left: 15px;">
        Es wurden leider keine passenden Veranstaltungen gefunden.
      </p>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <div style="display: flex; justify-content: center;">
        <ion-spinner style="height: 3rem; width: 3rem;" name="bubbles" color="primary"></ion-spinner>
      </div>
    </ng-container>
  </ion-content>