.filter-menu {
    --height: calc(100% + var(--ion-safe-area-top, 0px) + var(--ion-safe-area-bottom, 0px) + 56px);
    position: fixed;
    top: 0;
    z-index: 20;
  }

  
  ion-tab-bar {
    z-index: 10;
  }
  
  .badge-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-inline-start: 7px;

    .icon-margin-left {
      margin-left: 10px;
    }

    .icon-margin-right {
      margin-right: 10px;
    }

  
    ion-badge {
      margin-right: 8px;
      padding-inline: 7px;
      flex: 0 0 auto;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
    }

    ion-icon {
      cursor: pointer;
    }
  }
  