ion-content {
  --background: none transparent;
  --overflow: hidden; /* Verhindert Scrollen außerhalb der Karte */
  height: 100%;
}


/* Styling für den übergeordneten Kartencontainer */
.map-container {
  position: relative; // Position relativ, um die Filter absolut innerhalb zu positionieren

  #map {
    height: 100%; /* Setzt die Höhe der Karte auf 100% des ion-content */
    position: fixed !important;
  }
}

/* Angepasstes Styling für den Filter-Container */
.filter-container {
  position: absolute; // Absolute Positionierung
  top: 45px; // Abstand von oben, passen Sie an, um über der Karte zu schweben
  left: 50%; // Zentrieren auf der X-Achse
  transform: translateX(-50%); // Verschiebung um die Hälfte seiner eigenen Breite nach links
  display: flex;
  justify-content: center;
  z-index: 1000; // Stellen Sie sicher, dass es über der Karte liegt
    
  .filter-button {
    background-color: #473077; // Weiße Hintergrundfarbe
    // border: 1px solid #ccc; // Grauer Rand
    padding: 5px 15px; // Innenabstand
    margin: 0 5px; // Außenabstand zwischen den Buttons
    border-radius: 20px; // Abgerundete Ecken
    font-size: 14px; // Schriftgröße
    cursor: pointer; // Cursor zum Klicken anzeigen

    &.active {
      background-color: orange; // Grüne Hintergrundfarbe für aktive Filter
      color: #fff; // Weiße Schriftfarbe für aktive Filter
      border-color: #4CAF50; // Grüner Rand für aktive Filter
    }
  }
}

.search-radius-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 100%;
  z-index: 1000;
  cursor: pointer;

  .radius-title {
    color: #000;
    font-weight: bold;
    margin-left: 10px;
  }
}

.radius-selection-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* stellt sicher, dass der Container sichtbar bleibt */
}

.half-height-modal {
  --height: 50%; /* Setzt die Höhe des Modals auf 50% des Bildschirms */
  --top: 50%; /* Positioniert das Modal in der Mitte des Bildschirms */
  --max-height: 50%; /* Stellt sicher, dass das Modal nicht größer als 50% wird */
  --border-radius: 20px 20px 0 0; /* Abgerundete Ecken oben */
}

.radius-slider-modal {
  --height: 50% !important; /* Setzt die Höhe des Modals auf 50% des Bildschirms */
  --top: 50%; /* Positioniert das Modal in der Mitte des Bildschirms */
  --max-height: 50% !important; /* Stellt sicher, dass das Modal nicht größer als 50% wird */
  --border-radius: 20px 20px 0 0; 
}