ion-content {
  --background: none transparent;
  --overflow: hidden; /* Verhindert Scrollen außerhalb der Karte */
  height: 100%;
}

#map {
  height: 100%; /* Setzt die Höhe der Karte auf 100% des ion-content */
}