<app-search-bar></app-search-bar>

<ion-content>
  <ion-label>
    Accessibility Preferences: {{ eventCat?.accessibilityPreferences?.join(', ') }}
  </ion-label>
  <ion-label>
    Event Categories: {{ eventCat?.eventCategories?.join(', ') }}
  </ion-label>
  <ion-label>
    Costs: {{ eventCat?.costs?.join(', ') }}
  </ion-label>
  <ion-label>
    Districts: {{ eventCat?.districts?.join(', ') }}
  </ion-label>

  <ion-list>
    <ion-card *ngFor="let event of events">
      <ion-card-header>
        <ion-card-title class="mouse-pointer">
          {{ event.attractions[0].referenceLabel.de }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <strong>Datum:</strong> {{ formatDate(event.schedule.startDate) }}
          <ng-container *ngIf="event.schedule.startDate !== event.schedule.endDate">
            - {{ formatDate(event.schedule.endDate) }}
          </ng-container>
        </div>
        <div>
          <strong>Zeit:</strong> 
          <ng-container *ngIf="event.schedule.startTime === '00:00:00' && event.schedule.endTime === '00:00:00'">
            Ganztägig
          </ng-container>
          <ng-container *ngIf="event.schedule.startTime !== '00:00:00' || event.schedule.endTime !== '00:00:00'">
            {{ formatTime(event.schedule.startTime) }} - {{ formatTime(event.schedule.endTime) }}
          </ng-container>
        </div>
        <div class="mouse-pointer">
          <strong>Ort:</strong> {{ event.locations[0].referenceLabel.de }}
        </div>
        <div *ngIf="event.admission && event.admission.ticketType === 'ticketType.freeOfCharge'">
            <strong>Eintritt:</strong> Kostenlos
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>